<div class="list-group">
  <% @contests_filter.each do |c| %>
  <div class="media">
    <div class="media-left">
        <a href="#">
          <% if c.image? %>
            <img src=<%= c.image.url %> style="width:120px;height:140px;">
          <% end %>
      </a>
    </div>
    <div class="media-body">
      <p><h4 class="media-heading"><%= c.nombre %></h4></p>
      <p>Inicia: <%= c.fechainicio %></p>
      <p>Termina: <%= c.fechafin %></p>
      <p>Premio: <%= c.premio %></p>
      <p>Created <%= time_ago_in_words c.created_at %> ago</p>
      <% if session[:user_name] != nil %>
      <table><tr>
      <td><div><form><a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#new-contest-modal">Actualizar</a></form></div></td>
      <td>&nbsp;</td>
      <td><div><form><a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-contest">Eliminar</a></form></div></td>
      </tr></table>
      <% end %>
    </div>
    </div>
  <br/><br/>
  <% end %>
</div>

<%= render 'home/new_video' %>
<%= render 'home/delete_contest' %>

<% if session[:user_name] == nil %>
<div class="container">
<form><a href="#" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#new-video"><span class="glyphicon glyphicon-film"></span>&nbsp;Agregar Video</a></form>
</div>
<% end %>

<br/><br/>

<div class="list-group">
  <% @videos.each do |v| %>
  <div class="media">
    <div class="media-left">
        <a href="#">
          <video width="240" height="160" preload controls>
            <source src="<%= v.video.url %>">
          </video>
      </a>
    </div>
    <div class="media-body">
      <p><h4 class="media-heading"><%= v.nombre %> <%= v.apellido %></h4></p>
      <p><%= v.email %></p>
      <p>Estado: <%= v.estado %></p>
      <p>Created <%= time_ago_in_words v.created_at %> ago</p>
      <p><%= v.video.url %></p>
      <br/><br/>
    </div>
  </div>
  <br/><br/>
  <% end %>
</div>
