<div class="list-group">
  <% @contests.each do |c| %>
  <div class="media">
    <div class="media-left">
        <a href="#">
          <% if c.image? %>
            <img src=<%= c.image.url %> style="width:120px;height:140px;">
          <% end %>
      </a>
    </div>
    <div class="media-body">
      <p><h4 class="media-heading"><%= c.nombre %></h4></p>
      <p>Inicia: <%= c.fechainicio %></p>
      <p>Termina: <%= c.fechafin %></p>
      <p>Premio: <%= c.premio %></p>
      <p>Created <%= time_ago_in_words c.created_at %> ago</p>
      <div><a href="<%= contest_path(c) %>" class="btn btn-success btn-xs">Ir a Concurso</a></div>
    </div>
  </div>
  <br/><br/>
  <% end %>
</div>