<script>
  $(function() {
    $("#datepickerinicio").datepicker( { dateFormat: 'dd/mm/yy' } );
    $("#datepickerfin").datepicker( { dateFormat: 'dd/mm/yy' } );
  });
  </script>

<div class="modal fade" id="edit-contest-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar Concurso</h4>
      </div>
      <div class="modal-body">

        <%= form_for :contest, url: '/contests', :html => { :method => :put, :multipart => true, :class => 'form-horizontal' } do |c| %>

          <div class="form-group">
            <label for="labelnombre" class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="nombreContest" placeholder="Nombre" name="contest[nombre]" value="<%= @current_contest.nombre %>">
            </div>
          </div>
          <div class="form-group">
            <label for="labelapellidos" class="col-lg-2 control-label">Image</label>
            <div class="col-lg-10">
              <input type="file" class="file" name="contest[image]" value="<%= @current_contest.image %>">
            </div>
          </div>
          <div class="form-group">
            <label for="labelapellidos" class="col-lg-2 control-label">Url</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="urlContest" placeholder="Url" name="contest[url]" value="<%= @current_contest.url %>">
            </div>
          </div>
          <div class="form-group">
            <label for="labelemail" class="col-lg-2 control-label">Fecha Inicio</label>
            <div class="col-lg-10">
              <input type="text" id="datepickerinicio" class="form-control" placeholder="Fecha Inicio" name="contest[fechainicio]" value="<%= @current_contest.fechainicio %>">
            </div>
          </div>
          <div class="form-group">
            <label for="labelemail" class="col-lg-2 control-label">Fecha Fin</label>
            <div class="col-lg-10">
              <input type="text" id="datepickerfin" class="form-control" placeholder="Fecha Fin" name="contest[fechafin]"  value="<%= @current_contest.fechafin %>">
            </div>
          </div>
          <div class="form-group">
            <label for="labelnombre" class="col-lg-2 control-label">Descripcion Premio</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="descPremioContest" placeholder="Descripcion Premio" name="contest[premio]"  value="<%= @current_contest.premio %>">
            </div>
          </div>

          <div class="form-group">
            <input type="hidden" class="file" name="contest[id]" value="<%= @current_contest.id %>">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>