<!DOCTYPE html>
<html>
<head>
  <title>Video Contest</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '**defaults**', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script>
  $(function() {
    $("#datepickerinicio").datepicker();
    $("#datepickerfin").datepicker();
  });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'home/navbar' %>

<%= yield %>
<%= render 'home/new_user_form' %>
<%= render 'home/sigin_form' %>

<% if session[:user_name] != nil %>
<%= render 'home/video_list' %>
<% end %>

<%= render 'home/new_contest_form' %>

</body>
</html>
